body {
  font-family: 'Raleway', sans-serif;
}

@media (min-width: 1200px) {
  .navbar {
    min-height: 70px;
  }
  .navbar-brand{

    padding-top: 25px;
  }
  .navbar-right{
    padding-top: 8px;
  }

}

.btn {
  border-radius: 500px;
}
