@media (min-width: 768px) and (max-width: 991px) {

$accentcolor: #00A69A;
$accentcolorshadow: #00736b;


body {
  div.container {
    margin: 0 auto;
    width: 100%;
    span.top-filler-mobile {
      display: block;
      height: 60px;
      margin: 0px 0px;
      width: 100%;
    }
    header {
      // display: table-cell;
      width: 100%;
      height: 46vw;
      background-image: url("../img/DSC_2618s.jpg");
      background-position: center;
      background-size: 100% 120%;
      background-repeat: no-repeat;
      border: 0.5px solid #BBBBBB;
      vertical-align: middle;
      text-align: center;
      div.container-head {
        display: inline-block;
        h2 {
          font-size: 46px;
          font-weight: 400;
          margin: 0 auto;
          span {
            font-size: 46px;
          }
        }
        h1 {
          font-size: 65px;
          font-weight: 700;
          margin: 0px 115px auto;

        }
        h3 {
          font-size: 28px;
          font-weight: 400;
          margin: 115px auto;
          text-shadow: 1px 1px #282C34;
        }
        a.header-button {
          background-color: $accentcolor;
          font-family: 'Raleway', sans-serif;
          font-size: 18px;
          font-weight: 700;
          line-height: 1.3;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: #ffffff;
          border-radius: 3px;
          box-shadow: 0 3px 0 $accentcolorshadow;
          padding: 10px 16px;
          text-decoration: none;
          position: relative;
          top: -70px;

        }
      }
    } //header
    nav.nav-main {
      position: fixed;
      top: 0px;
      display: block;
      background-color: #171717;
      height: 60px;
      width: 100%;
      border-bottom: 1px solid #474747;
      h2 {
        font-size: 20px;
        margin-left: 16px;
        margin-top: 11px;
        margin-bottom: 11px;
        color: gray;
        display: inline-block;
      }
      #nav-toggle{
        display: inline-block;
        float: right;
        margin-top: 8px;
        margin-bottom: 8px;
        margin-right: 12px;
        width: 44px;
        height: 44px;
        border-radius: 3px;
        background-color: $accentcolor;
        position: relative;

        span.patty {
          position: absolute;
          left: 5px;
          top: 20px;
        }
        span.patty, span.patty:before, span.patty:after {
            cursor: pointer;
            border-radius: 1px;
            height: 5px;
            width: 34px;
            background-color: white;
            position: absolute;
            display: block;
            content: '';
            z-index: 99;
            }
        span.patty:before {
            top: -10px;
        }
        span.patty:after {
            bottom: -10px;
        }
      }
      section.nav-menu {
        display: none;
        float: right;
        position: fixed;
        top: 60px;
        right: 0px;
        width: 80%;
        height: auto;
        background-color: #171717;
      a {
        display: block;
        text-decoration: none;
        vertical-align: middle;
        color: #A1A1A1;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 18px 20px;
      }
    }
    }
    div.nav-filler {
      display: block;
      height: 0px;
      width: 100%;
      &.filling{
        height: 50px;
      }
    }
    #about-me {
      margin: 0px auto;
      display: block;
      padding-top: 10px;
      padding-bottom: 50px;
      width: 100%;
      border-bottom: 1px solid #474747;
      &:after {
        content: " ";
        clear: both;
      }
      article{
        margin-left: 5%;
        display: inline-block;
        width: 90%;
        h2.my-name{
          font-weight: 500;
          font-size: 35px;
          letter-spacing: 1px;
          line-height: 1.1;
          span.pronun {
            display: none;
          }
        }
        h3.my-intro {
          font-size: 20px;
          font-weight: 200;
        }
        span.my-line {
          display: block;
          height: 4px;
          width: 200px;
          background-color: $accentcolor;
        }
        p{
          text-align: left;
          span.contact {
            color: $accentcolor;
            font-weight: 700;
        }
      }
    }
      img {
        display: none;
      }

    }

  } //container
} //body
} //desktop view
